@font-face {
  font-family: "Space Cadet";
  src: url("/font/SpaceCadetNF.ttf");
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-family: "Space Cadet", sans;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

main > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
}
